@import "colours";
@import "../../node_modules/include-media/dist/include-media";
.user-details {
  text-align: center;
}
header {
  @include media("<phone") {
    position: relative;
    max-width: 414px;
    text-align: center;
  }
}
main {
  @include media("<phone") {
    position: relative;
    max-width: 414px;
}
}
.profile-pic { 
  @include media("<phone") {
    position: relative;
    left: 30%;         
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
}
.text-changer-buttons {
  @include media("<phone") {
    position: absolute;
    left: 42%;
    bottom: 25%;
    position: left;
    padding-bottom: 5%;
  }
}
.circle {
  @include media("<phone") {
    width: 7px;
    height: 7px;
    background: black;
    margin: 5px;
    border-radius: 100px;
    float: left;
  }
}
.circle--1 {
  
}
.circle--2 {
  background: #A98F6D;
}
.circle3 {

}
.quote {
  @include media("<phone") {
    text-align: center;
    padding-bottom: 20px;
    position: relative;
  }
}
blockquote {

}
blockquote:before,
blockquote:after {
  @include media("<phone") {
    position: absolute;
    color: $gold-color;
    font-size: 4em;
  }
}
blockquote:before {
  @include media("<phone") {
    content: '“';
    bottom: 55%;
    left: 5%;
  }
}

blockquote:after {
  @include media("<phone") {
    content: '”';
    top: 40%;
  }
}
.profile-link {
  @include media("<phone") {
    position: relative;
    left: 40%;
    border: 1px solid $gold-color;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    padding: 1%;
  }
}
.chevron {
  @include media("<phone") {
    float: left;
    position: relative;
  }
}
.chevron--left {
  @include media("<phone") {
    right: 5%;
  }
}
.chevron--right {
  @include media("<phone") {
    left: 5%;
  }
}

.chevron--right::after {
  @include media("<phone") {
    content: "";
    display: inline-block;
    height: .45em;
    width: .45em; 
    margin-left: .5em;
    border: solid #A98F6D;
    border-width: .2em .2em 0 0;
    transform: rotate(45deg) translateY(-.05em);
  }
}
.chevron--left::after {
  @include media("<phone") {
    content: "";
    display: inline-block;
    height: .45em;
    width: .45em; 
    margin-left: .5em;
    border: solid #A98F6D;
    border-width: .2em .2em 0 0;
    transform: rotate(-135deg) translateY(-.05em);
  }
}
button {
  @include media("<phone") {
    display: inline-block;
    border: none;
    padding: 0;
    margin: 0;
    background: white;
    color: white;
    cursor: pointer;
  }
}

.profile--2 {
  display: none;
}
.profile--3 {
  display: none;
}